.them .header{
    padding: 0px 30px;
    background-color: rgb(232, 232, 240);
}

.them h2{
    color: #000;
    letter-spacing: 0.4px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 400;
}

.them h3{
    color: #000;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    padding: 20px;
}

.info_form {
    border: 1px solid #555;
    margin: 0px 30px;
    padding: 20px 25px;
    float: left;
    width: 92%;
}

.them .info_form h4{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;    
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.info_form .info_name, .info_form .info {
    width: 20%;
    margin-right: 35px;
    padding: 0;
    color: rgb(0, 0, 0);
    float: left;
}

.info_form input[type=text] {
    width: 95%;
    padding: 7px 10px;
    font-size:16px;
}

.info_form input[type=date] {
    width: 95%;
    padding: 6px 10px;
}

.row2{
    padding-top: 20px;
    clear: both;
}

button.btn-add {    
    padding: 8px 15px;
    /* background: #04b404; */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    float: right;
}

button.btn-add i.fa.fa-plus-circle, button.btn-submit i.fa.fa-plus-circle {
    margin-right: 10px;
}

.submit {
    height: 70px;
    padding-left: 55px;
    padding-top: 30px;
    clear: both;
}

.submit .search {
    width: 20%;
    border: 1px solid #ff8000;
    border-radius: 10px;
    float: left;
}

.submit i.fa.fa-search {
    float: left;
    padding: 13px 0px;
    margin-left: 15px;
    color: #ff8000;
    font-size: 18px;
}

.submit input[type=text] {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.submit button.btn-submit {
    padding: 10px 15px;
    margin-right: 50px;
    font-size: 17px;
    background-color: #0000ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    float: right;
}

.submit button.btn-submit:hover {
    background-color: #08088a;
}
.list-vpp {
    width: 92%;
    border: 1px solid #555;
    margin: 0px 30px;
    padding: 20px 25px;
    clear: both;
}

.list-vpp h4 {
    color: rgb(0, 0, 0);
    letter-spacing: 0.4px;    
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.list-vpp table {
    width: 100%;
}

.list-vpp table .check {
    width: 2%;
    text-align: left;
}

.list-vpp table .stt {
    width: 10%;
    text-align: center;
}

.list-vpp table .tenvpp {
    width: 28%;
}

.list-vpp table th.tenvpp, .list-vpp table th.quycach {
    text-align: center;
}

.list-vpp table .soluong, .list-vpp table .donvi {
    width: 15%;
    text-align: center;
}

.list-vpp table .action {
    width: 10%;
    text-align: right;
}

.list-vpp table .action i.fa.fa-edit {
    margin-right: 10px;
    color: green;
    font-size: 18px;
}

.list-vpp table .action i.fa.fa-trash-o {
    color: red;
    font-size: 18px;
}